# Contents
## 1. Importing Libraries
## 2. Importing Data Frames
## 3. Checking the Datasets
## 4. Cleaning the datasets
## 5. Merging the datasets
## 6. Exporting the dataset

# 1. Importing Libraries

In [1]:
import pandas as pd
import numpy as np
import os

# 2. Importing Data Frames

In [2]:
# Creating the path for the data
path = r'C:\Users\sdaon\Documents\Instacart Basket Analysis'

In [3]:
# Importing orders_products_combined
orders_products_combined = pd.read_pickle(os.path.join(path, '02 Data', 'Prepared Data', 'orders_products_combined.pkl'))

In [4]:
# Importing products data
df_prods_checked = pd.read_csv(os.path.join(path, '02 Data', 'Prepared Data', 'prods_checked.csv'), index_col = False)

# 3. Checking the Datasets

In [5]:
orders_products_combined.shape

(32434489, 11)

In [6]:
orders_products_combined.head(50)

,Unnamed: 0,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,_merge
0,0,2539329,1,1,2,8,NaN,196,1,0,both
1,0,2539329,1,1,2,8,NaN,14084,2,0,both
2,0,2539329,1,1,2,8,NaN,12427,3,0,both
3,0,2539329,1,1,2,8,NaN,26088,4,0,both
4,0,2539329,1,1,2,8,NaN,26405,5,0,both
5,1,2398795,1,2,3,7,15.0,196,1,1,both
6,1,2398795,1,2,3,7,15.0,10258,2,0,both
7,1,2398795,1,2,3,7,15.0,12427,3,1,both
8,1,2398795,1,2,3,7,15.0,13176,4,0,both
9,1,2398795,1,2,3,7,15.0,26088,5,1,both
10,1,2398795,1,2,3,7,15.0,13032,6,0,both
11,2,473747,1,3,3,12,21.0,196,1,1,both
12,2,473747,1,3,3,12,21.0,12427,2,1,both
13,2,473747,1,3,3,12,21.0,10258,3,1,both
14,2,473747,1,3,3,12,21.0,25133,4,0,both
15,2,473747,1,3,3,12,21.0,30450,5,0,both
16,3,2254736,1,4,4,7,29.0,196,1,1,both
17,3,2254736,1,4,4,7,29.0,12427,2,1,both
18,3,2254736,1,4,4,7,29.0,10258,3,1,both
19,3,2254736,1,4,4,7,29.0,25133,4,1,both
20,3,2254736,1,4,4,7,29.0,26405,5,1,both
21,4,431534,1,5,4,15,28.0,196,1,1,both
22,4,431534,1,5,4,15,28.0,12427,2,1,both
23,4,431534,1,5,4,15,28.0,10258,3,1,both
24,4,431534,1,5,4,15,28.0,25133,4,1,both
25,4,431534,1,5,4,15,28.0,10326,5,0,both
26,4,431534,1,5,4,15,28.0,17122,6,0,both
27,4,431534,1,5,4,15,28.0,41787,7,0,both
28,4,431534,1,5,4,15,28.0,13176,8,1,both
29,5,3367565,1,6,2,7,19.0,196,1,1,both
30,5,3367565,1,6,2,7,19.0,12427,2,1,both
31,5,3367565,1,6,2,7,19.0,10258,3,1,both
32,5,3367565,1,6,2,7,19.0,25133,4,1,both
33,6,550135,1,7,1,9,20.0,196,1,1,both
34,6,550135,1,7,1,9,20.0,10258,2,1,both
35,6,550135,1,7,1,9,20.0,12427,3,1,both
36,6,550135,1,7,1,9,20.0,25133,4,1,both
37,6,550135,1,7,1,9,20.0,13032,5,1,both
38,7,3108588,1,8,1,14,14.0,12427,1,1,both
39,7,3108588,1,8,1,14,14.0,196,2,1,both
40,7,3108588,1,8,1,14,14.0,10258,3,1,both
41,7,3108588,1,8,1,14,14.0,25133,4,1,both
42,7,3108588,1,8,1,14,14.0,46149,5,0,both
43,7,3108588,1,8,1,14,14.0,49235,6,0,both
44,8,2295261,1,9,1,16,0.0,49235,1,1,both
45,8,2295261,1,9,1,16,0.0,46149,2,1,both
46,8,2295261,1,9,1,16,0.0,25133,3,1,both
47,8,2295261,1,9,1,16,0.0,196,4,1,both
48,8,2295261,1,9,1,16,0.0,10258,5,1,both
49,8,2295261,1,9,1,16,0.0,12427,6,1,both

In [7]:
df_prods_checked.head(20)

,Unnamed: 0,product_id,product_name,aisle_id,department_id,prices
0,0,1,Chocolate Sandwich Cookies,61,19,5.8
1,1,2,All-Seasons Salt,104,13,9.3
2,2,3,Robust Golden Unsweetened Oolong Tea,94,7,4.5
3,3,4,Smart Ones Classic Favorites Mini Rigatoni Wit...,38,1,10.5
4,4,5,Green Chile Anytime Sauce,5,13,4.3
5,5,6,Dry Nose Oil,11,11,2.6
6,6,7,Pure Coconut Water With Orange,98,7,4.4
7,7,8,Cut Russet Potatoes Steam N' Mash,116,1,1.1
8,8,9,Light Strawberry Blueberry Yogurt,120,16,7.0
9,9,10,Sparkling Orange Juice & Prickly Pear Beverage,115,7,8.4
10,10,11,Peach Mango Juice,31,7,2.8
11,11,12,Chocolate Fudge Layer Cake,119,1,9.4
12,12,13,Saline Nasal Mist,11,11,1.1
13,13,14,Fresh Scent Dishwasher Cleaner,74,17,6.5
14,14,15,Overnight Diapers Size 6,56,18,11.2
15,15,16,Mint Chocolate Flavored Syrup,103,19,5.2
16,16,17,Rendered Duck Fat,35,12,17.1
17,17,18,Pizza for One Suprema Frozen Pizza,79,1,10.6
18,18,19,Gluten Free Quinoa Three Cheese & Mushroom Blend,63,9,12.0
19,19,20,Pomegranate Cranberry & Aloe Vera Enrich Drink,98,7,6.0

In [8]:
df_prods_checked.shape

(49693, 6)

# 4. Cleaning the datasets

In [9]:
# removing _merge column to be able to merge again
orders_products_combined = orders_products_combined.drop(columns = ['Unnamed: 0', '_merge'])

# 5. Merging the datasets

In [10]:
#Merge data frames base on product_id
df_merge_orders_prods = orders_products_combined.merge(df_prods_checked, on = 'product_id', indicator = True)

In [11]:
df_merge_orders_prods.head(20)

,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,Unnamed: 0,product_name,aisle_id,department_id,prices,_merge
0,2539329,1,1,2,8,NaN,196,1,0,195,Soda,77,7,9.0,both
1,2398795,1,2,3,7,15.0,196,1,1,195,Soda,77,7,9.0,both
2,473747,1,3,3,12,21.0,196,1,1,195,Soda,77,7,9.0,both
3,2254736,1,4,4,7,29.0,196,1,1,195,Soda,77,7,9.0,both
4,431534,1,5,4,15,28.0,196,1,1,195,Soda,77,7,9.0,both
5,3367565,1,6,2,7,19.0,196,1,1,195,Soda,77,7,9.0,both
6,550135,1,7,1,9,20.0,196,1,1,195,Soda,77,7,9.0,both
7,3108588,1,8,1,14,14.0,196,2,1,195,Soda,77,7,9.0,both
8,2295261,1,9,1,16,0.0,196,4,1,195,Soda,77,7,9.0,both
9,2550362,1,10,4,8,30.0,196,1,1,195,Soda,77,7,9.0,both
10,2968173,15,15,1,9,7.0,196,2,0,195,Soda,77,7,9.0,both
11,1870022,15,17,2,16,8.0,196,6,1,195,Soda,77,7,9.0,both
12,1911383,15,18,2,11,7.0,196,1,1,195,Soda,77,7,9.0,both
13,2715276,15,21,1,9,7.0,196,1,1,195,Soda,77,7,9.0,both
14,487368,15,22,1,10,14.0,196,1,1,195,Soda,77,7,9.0,both
15,2293453,19,2,5,14,6.0,196,3,0,195,Soda,77,7,9.0,both
16,1973799,19,5,6,12,8.0,196,15,1,195,Soda,77,7,9.0,both
17,532817,19,7,4,17,6.0,196,1,1,195,Soda,77,7,9.0,both
18,1573906,21,10,3,10,6.0,196,2,0,195,Soda,77,7,9.0,both
19,1593000,31,10,3,8,7.0,196,17,0,195,Soda,77,7,9.0,both

# 6. Exporting the dataset

In [12]:
#Exporting data
df_merge_orders_prods.to_pickle(os.path.join(path, '02 Data','Prepared Data', 'orders_products_merged.pkl'))